[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-shim {
    visibility: hidden;
}

.ng-anchor {
    position: absolute;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    font-family: Arial;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */

.header {
    /*border-bottom: 1px solid #e5e5e5;*/
    margin-bottom: 10px;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    /*padding-top: 19px;*/
    color: #777;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    position: relative;
}

.footer p {
    padding: 5px;
    margin: 0;
}

 .footer .controls {
     position: absolute;
     left: 10px;
     top: 5px;
 }

.footer .controls a {
        padding: 0 10px;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    /*.header {
        margin-bottom: 30px;
    }*/
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.footer {
    text-align: center;
    padding-top: 15px;
}

.chart-icon,
.information-icon {
    cursor: pointer;
}

img.chart-icon {
    width: 15px;
    height: 15px;
    vertical-align: top;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 25px;
}

img.information-icon {
    width: 15px;
    height: 15px;
    vertical-align: top;
    cursor: pointer;
    margin-right: 5px;
    position: absolute;
    top: 3px;
    right: 0;
}

/* custom */

.ui-cell-align-left {
    text-align: left
}

.ui-cell-align-right {
    text-align: right
}

.ui-cell-align-center {
    text-align: center
}

.ui-grid-cell-contents {
    font-weight: bold;
    font-size: 13px;
}

.percent::after {
    content: "%";
    font-weight: bold;
}


/*#menuitem-3 {
    display: none
}*/

#menuitem-5 {
    display: none
}

.sidebar-brand {
    height: 15px;
}

#sidebar-wrapper {
    background: #f9f9f9;
    overflow-x: hidden !important;
}

.iframe-stock {
    /*position: absolute;*/
    /*top: 120px;*/
    width: 100%;
    height: 500px;
    background: #fff;
    /*margin: auto;*/
    /*margin-left: 5%;*/
}

.ui-grid-pinned-container {
    cursor: pointer;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #F6F6F6;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #FFF;
}

.ui-grid-column-menu-button {
    /*display: none;*/
    /*center */
    /*line-height: 40px;*/
}

.ui-grid-header-cell {
    /*center */
    text-align: center;
    color: #FFF;
    border-color: #D4D4D4 !important;
}


/* center */

.ui-grid-header-cell span:last-child {
    position: absolute;
    /*right: 3px;
    margin-top: 8px;*/
    height: 50px;
}


/* center */

.ui-grid-column-menu-button-last-col {
    margin-right: 0px;
}

.grid-cell-green {
    color: #090
}

.grid-cell-purple {
    color: #9900FF;
}

.grid-cell-red {
    color: #C00
}

.grid-cell-fill {
    background-color: #B7E1CD;
}

.navbar-default .navbar-brand {
    color: rgba(46, 112, 159, 1);
}

.navbar-default {
    font-size: 14px;
    background-color: rgba(216, 239, 255, 1);
    border-width: 1px;
    border-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
    color: rgba(46, 112, 159, 1);
    background-color: rgba(216, 239, 255, 1);
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: rgba(46, 112, 159, 1);
    background-color: rgba(248, 248, 248, 0);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 133, 203, 1);
}

.navbar-default .navbar-toggle {
    border-color: #2185cb;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2185cb;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2185cb;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #d8efff;
}

#sidebar-wrapper .dropdown-menu > li > a {
    color: #333;
}

#sidebar-wrapper .dropdown-menu > li > a:hover {
    background: #eee;
}

.item-selected {
    color: white !important;
}

.item-selected span {
    margin-left: -20px;
}

#sidebar-wrapper .btn .caret {
    float: right;
    margin-right: -5px;
    margin-top: 8px;
}

#sidebar-wrapper .dropdown-toggle {
    text-align: left;
    width: 274px;
    margin-left: -5px;
}

#sidebar-wrapper .dropdown-menu-form {
    width: 274px !important;
    margin-left: -5px;
}

.signle-select .active,
.signle-select .divider {
    display: none;
}

.signle-select .item-unselected {
    cursor: pointer !important;
}

.ui-grid-row:hover .ui-grid-cell {
    background: #DEDDDD;
}

.ui-grid-row:focus .ui-grid-cell {
    background: #DEDDDD !important;
}

.click-row {
    background: #DEDDDD !important;
}

.profile-photo {
    width: 34px;
    height: 38px;
    border: 1px solid #ccc;
    padding: 1px;
}

.ui-grid-header-cell-label {
    white-space: pre;
    height: 50px;
}

.header,
.navbar {
    margin-bottom: 0px;
}

.chart-pointer {
    cursor: pointer;
}

.clear-filter {
    background: none !important;
    box-shadow: none !important;
}

.header {
    padding: 0px;
}

@media(max-width:882px) {
    .menu-item-text {
        display: none;
    }
}

@media(max-width:767px) {
    .menu-item-text {
        display: inline;
    }
}

.ag-header-cell {
    background: #FF9900;
    color: white;
    font-weight: bold;
}

.ag-header-cell.ag-header-cell-green {
    background: #38761D;
}

.ag-header-cell.ag-header-cell-red {
    background: #FF0000;
}

.ag-header-cell-text {
    white-space: pre;
}

.ag-cell-orange-bg {
    background: #FFF2CC;
}

.ag-cell-green-bg {
    background: #D9EAD3;
}

.ag-cell-fill-bg {
    background: #B7E1CD;
}

.ag-cell-purple-color {
    color: #90F;
}

.ag-cell-red-bg {
    background: #F4CCCC;
}

#gridWraper {
    max-width: 1265px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.footer {
    padding: 0;
    margin: 0;
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}

.view-containner {
    height: 100%;
    height: calc(100vh - 65px - 30px);
}

.ag-cell-focus {
    border: none !important;
    border-right: 1px dotted #808080 !important;
}

.ag-cell {
    font-weight: bold;
}

.ag-menu {
    top: 45px !important;
}


/*.ag-menu-option:last-child {
    display: none !important;
}

.ag-menu-option:nth-child(3) {
    display: none !important;
}

.ag-tab:nth-child(2) {
    display: none !important;
}

.ag-menu:last-child .ag-menu-option {
    display: table !important;
}*/

.ag-tab:nth-child(2) {
    display: none !important;
}

.ag-menu-separator + .ag-menu-option,
.ag-menu-separator + .ag-menu-option + .ag-menu-option {
    display: none !important;
}

@decimal-format price {
    grouping-separator: ",";
    decimal-separator: "."
}

.ag-cell-value {
    font-weight: 700;
    font-size: 13px;
    font-family: Arial;
}

.ag-fresh .ag-header-cell-menu-button .ag-header-icon,
.ag-fresh .ag-header-icon.ag-sort-descending-icon,
.ag-fresh .ag-header-icon.ag-sort-ascending-icon,
.ag-fresh .ag-header-icon.ag-sort-none-icon  {
    color: #FFFFFF !important;
    fill:  #FFFFFF !important;
}

.ag-tab {
    color: #000000;
}

.ag-fresh .ag-header-cell-menu-button:hover {
  border: 1px solid #FFFFFF !important;
}

.ag-menu-option:nth-child(2) {
    display: none;
}

.header-title {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 40px;
    background: #6AA84F; font-weight: bold;
}

.header-title > h4 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header-timestamp {
    float: left
}

.bullet-style {
    padding: 0 30px;
}

.bullet-style:before {
    content: '-';
    position: absolute;
    left: 3%;
}

.grid-area {
    max-width: 1262px;
    height: calc(100% - 48px - 49px);
    margin: 0 auto;
}

.grid-area > div {
    height: 100%;
    float: left;
}

.ag-body-viewport-wrapper {
    position: relative;
}

.ag-body-viewport {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;

	-webkit-box-flex: 1;
}

.user-area {
    cursor: pointer;
    background: #D7EEFE !important;
    color: #2E70B7 !important;
}

.user-area.open > a {
    background: #D7EEFE !important;
    color: #2E70B7 !important;
}

.unauthentication-area {
    height: 100%;
    width: 100%;
    color: rgba(46, 112, 159, 1);
    font-size: 40px;
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.ag-cell-hover-bg {
    background: #DEDDDD !important;
}

.ag-cell-focus-bg {
    background: #DEDDDD !important;
}

.ag-grid-custom.custom .ag-body-viewport {
    overflow-x: hidden !important;
}

/*::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}*/

::-webkit-scrollbar {
  width: 0.5em;
  height: 1em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}