<div class="col-md-4">
  <!-- Why we need a separate div? Angular sanitizer seems to remove iframe if angular can bind to element -->
  <div style="height: 100%">
    <iframe class="fireant-widget" id="fan-quote-623"
    src="https://www.fireant.vn/Widgets/Markets?container_id=fan-quote-623&amp;symbols=undefined&amp;locale=vi&amp;price_line_color=%2371BDDF&amp;grid_color=%23999999&amp;label_color=%23f38a06&amp;height=250px"
    width="100%" height="574px" frameborder="0" allowtransparency="true" scrolling="no"
    ></iframe>
  </div>
  <div style="height: 100%">
    <iframe src="https://vn.investingwidgets.com/live-indices?theme=lightTheme&amp;hideTitle=true&amp;roundedCorners=true&amp;pairs=166,27,175,53094,178,179,959206" width="100%0" height="460" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
  </div>
</div>

<!-- iFrame market stats section -->
<div class="col-md-8">
  <div style="height: 400px">
    <iframe src="https://marketwatch.vndirect.com.vn/topmostindex.htm?lang=vi"
    width="80%" title="Marketwatch" height="100%" frameborder="0"></iframe>
  </div>
  <div style="height: 400px">
    <iframe src="https://marketwatch.vndirect.com.vn/marketcap.htm?lang=vi"
    width="80%" title="Marketwatch" height="100%" frameborder="0"></iframe>
  </div>
  <div style="height: 400px">
    <iframe src="https://marketwatch.vndirect.com.vn/foreignmap.htm?lang=vi"
    width="80%" title="Marketwatch" height="100%" frameborder="0"></iframe>
  </div>
</div>

<!-- global market stats section -->
<div class="col-md-4">
  <table class="table" ng-repeat="table in stats">
    <thead>
      <tr>
        <th scope="col" style="color: red">{{table.name}}</th>
        <th scope="col">Giá trị</th>
        <th scope="col">Thay đổi</th>
        <th scope="col">Phần trăm</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in table.data" style="color: {{item.color}}">
        <th scope="row">{{item.name}}</th>
        <td>{{item.value}}</td>
        <td>{{item.change}}</td>
        <td>{{item.percent}} %</td>
      </tr>
    </tbody>
  </table>
</div>
