<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.css" />

    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/simple-sidebar.css">
    <!-- endbuild -->
</head>

<body ng-app="superstockApp">
    <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
    <div id="wrapper" class="toggled" ng-controller="FilterCtrl">
        <div id="sidebar-wrapper" style="background:#f9f9f9;overflow-x:hidden">
            <!--<ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <div ui-slider="{range: true}" min="100" max="500" step="0.01" use-decimals ng-model="demoVals.sliderExample9"></div>
                    </a>
                </li>
            </ul>-->
            <ul class="sidebar-nav">
                <li class="sidebar-brand" style="height:15px">
                </li>
                <!--<li class="menu-slider">
                    <div class="row">
                        <div class="col-md-10">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default" style="margin-left: -10px;border-radius: 0px 5px 5px 0px;">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                            </form>
                        </div>
                    </div>
                </li>-->
                <li class="menu-slider">
                    <div>Bộ lọc có sẵn</div>
                    <div class="row" style="margin-left:0px">
                        <!--<div class="col-md-3"></div>-->
                        <div class="col-md-10 default-filter" style="padding-left:0px">
                            <multiselect ng-model="filter" options="defaultFilter" class="signle-select" selection-limit="1" id-prop="filterName" display-prop="filterName"></multiselect>
                        </div>
                        <div class="col-md-1" style="padding-left:10px">
                            <button type="button" ng-click="filter = null" style="box-shadow:none" class="close form-control" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </li>
                <li class="menu-slider" ng-repeat="item in $root.filters" ng-if="item.filter">
                    <div>{{item.displayName}}</div>
                    <div class="row" style="margin-left:0px">
                        <div class="col-md-10" style="padding-left:0px" ng-if="item.filter.typeSearch == 'multiple'">
                            <multiselect ng-model="item.filter.term" options="item.filter.selectOptions" show-search="false" id-prop="value" display-prop="label"></multiselect>
                        </div>
                        <div class="col-md-10" style="padding-left:0px" ng-if="item.filter.typeSearch != 'multiple'">
                            <multiselect ng-model="item.filter.term" options="item.filter.selectOptions" class="signle-select" show-search="false" id-prop="value" display-prop="label" selection-limit="1"></multiselect>
                        </div>
                        <div class="col-md-1" style="padding-left:10px">
                            <button type="button" ng-click="item.filter.term = null" style="box-shadow:none" class="close form-control" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </li>
                <li class="menu-slider" ng-repeat="item in $root.filters" ng-if="item.filters">
                    <div>{{item.displayName}}</div>
                    <div class="row" style="margin-left:0px">
                        <div class="col-md-3">
                            <input type="number" min="{{item.filters[0].min}}" ng-show="!item.filters[0].bigNum" max="{{item.filters[1].max}}" ng-model="item.filters[0].term" class="form-control" style="padding: 6px 6px">
                            <input type="number" id="{{item.field}}" value="{{parseBigNum(item.filters[0].term)}}" class="form-control subTerm" style="padding: 6px 6px" ng-show="item.filters[0].bigNum">
                        </div>
                        <div class="col-md-9" style="padding-top:12px">
                            <div ui-slider min="{{item.filters[0].min}}" id="slide-{{item.field}}" max="{{item.filters[1].max}}" ng-model="item.filters[0].term" style="width:90%" step="{{(item.filters[0].bigNum)?1000000000:1}}"></div>
                        </div>
                    </div>
                </li>
                <li class="menu-slider">
                    <p></p>
                </li>
            </ul>
        </div>
        <!-- Add your site or application content here -->
        <div class="header" ng-cloak="" ng-controller="MenuCtrl">
            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluit">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                        <a class="navbar-brand" href="#/">SuperStock</a>
                    </div>
                    <div class="collapse navbar-collapse" id="js-navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="" ng-class="{active:($root.link == 'main')}"><a href="#/"><i class="glyphicon glyphicon-th-large"></i> Tổng hợp </a></li>
                            <li class="" ng-class="{active:($root.link == 'full')}"><a href="#/full"><i class="glyphicon glyphicon-list-alt"></i> Đầy đủ </a></li>
                            <li class="" ng-show="$root.link == 'full'" ng-click="filterShow($event)" id="filter"><a href=""><i class="glyphicon glyphicon-filter"></i> Bộ lọc</a></li>
                            <li class="" ng-show="$root.link == 'full'" id="search">
                                <div class="row">
                                    <form class="navbar-form navbar-left" role="search">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Tìm theo mã" ng-model="$root.searchTerm" ng-enter="$root.search($root.searchTerm)">
                                        </div>
                                        <button ng-click="$root.search($root.searchTerm)" type="button" class="btn btn-default " style="margin-left: -10px;border-radius: 0px 5px 5px 0px; ">
                                            <span class="glyphicon glyphicon-search "></span>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class=""><img ng-show="$root.user != null" class="profile-photo" ng-src="{{$root.user.photoURL}}" /></li>
                            <li class=""><a href="" ng-show="$root.user != null">{{$root.user.displayName}}</a></li>
                            <li class=""><a href="" ng-show="$root.user == null" ng-click="oauthLogin('facebook')">Đăng nhập</a></li>
                            <li class=""><a href="" ng-show="$root.user != null" ng-click="logout()">Thoát</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluit">

            <div ng-view="" class="view-containner"></div>

        </div>

        <div class="footer">
            <p>Copyright @superstock</p>
        </div>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function(A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82928411-1');
        ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-slider/src/slider.js"></script>
    <script src="bower_components/angular-bootstrap-multiselect/index.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script>
        var config = {
            apiKey: "AIzaSyA_i_1kEu9yJGgReldWXXtEgm3C2Qfm5s4",
            authDomain: "superstock.firebaseapp.com",
            databaseURL: "https://superstock.firebaseio.com",
            storageBucket: "project-1577832973995685373.appspot.com",
        };

        // var config = {
        //     apiKey: "AIzaSyDICH-hlrUFKqEl8xiy2Pu-Jjrvg0xNAUY",
        //     authDomain: "phongdoex.firebaseapp.com",
        //     databaseURL: "https://phongdoex.firebaseio.com",
        //     storageBucket: "phongdoex.appspot.com",
        // };

        // var config = {
        //     apiKey: "AIzaSyD7lr3rqWKuOVYlUX86-_anNryjM08JJwE",
        //     authDomain: "superstock-d10ad.firebaseapp.com",
        //     databaseURL: "https://superstock-d10ad.firebaseio.com",
        //     storageBucket: "superstock-d10ad.appspot.com",
        // };

        firebase.initializeApp(config);
    </script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/service/factory.js"></script>
    <script src="scripts/service/utils.js"></script>
    <script src="scripts/filters/reverse.js"></script>
    <script src="scripts/angularfire/auth.js"></script>
    <script src="scripts/angularfire/firebase.ref.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/account.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/full-stock.js"></script>
    <script src="scripts/controllers/menu.js"></script>
    <script src="scripts/controllers/filter.js"></script>
    <script src="scripts/directives/ngShowAuth.js"></script>
    <script src="scripts/directives/ngHideAuth.js"></script>
    <script src="scripts/directives/directive.js"></script>
    <script src="scripts/routes.js"></script>
    <!-- endbuild -->
</body>


</html>