<div class="col-md-10 col-md-offset-1">
    <div style="height: 400px">
      <iframe src="https://marketwatch.vndirect.com.vn/topmostindex.htm?lang=vi"
      width="80%" title="Marketwatch" height="100%" frameborder="0"></iframe>
    </div>
    <div style="height: 400px">
      <iframe src="https://marketwatch.vndirect.com.vn/marketcap.htm?lang=vi"
      width="80%" title="Marketwatch" height="100%" frameborder="0"></iframe>
    </div>
    <div style="height: 400px">
      <iframe src="https://marketwatch.vndirect.com.vn/foreignmap.htm?lang=vi"
      width="80%" title="Marketwatch" height="100%" frameborder="0"></iframe>
    </div>
    <!--
    @deperated by Hungcanslim request
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Phân loại</th>
          <th scope="col">Số mã</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in stats.data">
          <th scope="row">{{$index + 1}}</th>
          <td>{{item.title}}</td>
          <td>{{item.value}}</td>
        </tr>
      </tbody>
    </table>
    -->
</div>


