
<!-- global market stats section -->
<div class="col-md-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Thế giới</th>
        <th scope="col">Index</th>
        <th scope="col">Thay đổi</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in stats.data" style="color: {{item.color}}">
        <th scope="row">{{item.name}}</th>
        <td>{{item.value}}</td>
        <td>{{item.change}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- iFrame market stats section -->
<div class="col-md-8">
  <div style="height: 400px">
    <iframe src="https://marketwatch.vndirect.com.vn/topmostindex.htm?lang=vi"
    width="80%" title="Marketwatch" height="100%" frameborder="0"></iframe>
  </div>
  <div style="height: 400px">
    <iframe src="https://marketwatch.vndirect.com.vn/marketcap.htm?lang=vi"
    width="80%" title="Marketwatch" height="100%" frameborder="0"></iframe>
  </div>
  <div style="height: 400px">
    <iframe src="https://marketwatch.vndirect.com.vn/foreignmap.htm?lang=vi"
    width="80%" title="Marketwatch" height="100%" frameborder="0"></iframe>
  </div>
</div>